@import 'ambience/breakpoints';

.message-list {
  $list-width: 84vw;

  display: flex;
  align-items: stretch;
  flex-direction: column;

  margin: 0;
  padding: 3vw (100vw - $list-width)/2;

  @include medium-up {
    padding-left: (100vw - $list-width)/2 - 1vw;
    flex-direction: row;
    flex-wrap: wrap;
  }

  & > .message-card {
    box-sizing: border-box;

    width: $list-width;
    min-height: 50vh;

    @include responsive(margin-top, 20, 20);
    @include medium-up {
      margin-left: 1vw;
    }
    @include medium-only {
      width: $list-width / 3 - 1vw;
    }
    @include large-only {
      width: $list-width / 4 - 1vw;
    }
    @include huge-up {
      width: $list-width / 5 - 1vw;
    }
  }
}
