@import 'ambience/color';
@import 'ambience/weight';
@import 'ambience/breakpoints';

.message-card {
  position: relative;

  display: flex;
  overflow: hidden;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;

  padding: 1em;

  color: #FFF;
  border-radius: 3px;
  background-color: $color-yellow;
  box-shadow: 0 0 3px 0 #000;

  & > .message {
    font-size: 1.5em;

    position: relative;

    padding: 1em;
  }

  &::before {
    position: absolute;

    display: block;

    content: '“';

    opacity: .1;

    @include responsive(font-size, 200, 200);
    @include responsive(left, -10, -10);
    @include responsive(top, -40, -40);
  }

  &::after {
    position: absolute;

    display: block;

    content: '”';

    opacity: .1;

    @include responsive(font-size, 200, 200);
    @include responsive(right, -10, -10);
    @include responsive(bottom, -150, -150);
  }

  & > .head {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
  }

  & > .head > .avatar {
    overflow: hidden;

    width: 72px;
    height: 72px;

    border-radius: 50%;
    background-position: center;
    background-size: cover;
  }

  & > .head > .username {
    font-size: 1em;
    font-weight: $weight-hairline;

    letter-spacing: 1px;
  }
}
